# Created by venv; see https://docs.python.org/3/library/venv.html

# Ignora el entorno virtual
env/

# Ignora archivos temporales de Python
__pycache__/

# Ignorar archivos compilados de Python
*.pyc

# Archivos sensibles
.env
.config
# Bases de datos locales
*.db

# Archivos generados por el sistema
.DS_Store
Thumbs.db