# Created by venv; see https://docs.python.org/3/library/venv.html

# Ignora el entorno virtual
env/

# Ignora archivos temporales de Python
__pycache__/
*.pyc

# ignorar proyecto checkeado_dashboard
checkeado_dashboard/

# Archivos sensibles
.env

# Bases de datos locales
*.db

# Archivos generados por el sistema
.DS_Store
Thumbs.db